<div ng-controller="PictoAdmin as $admin" class="container">
  <form ng-submit="$admin.search()">
    Search
    <input type="text" ng-model="$admin.searchTerm" />
    <button type="submit" class="btn btn-primary">
      <i class="glyphicon glyphicon-search"></i>
      Search
    </button>
    <button ng-click="$admin.addFormVisible = true" class="btn btn-default">
      <i class="glyphicon glyphicon-plus"></i>
      Add
    </button>
  </form>
  <div class="row">
    <form
      ng-submit="$admin.add()"
      class="well col-sm-4 col-sm-offset-4"
      ng-if="$admin.addFormVisible"
    >
      <div class="form-group">
        <label for="fileField">Fichier</label>
        <input
          type="file"
          class="form-control"
          id="fileField"
          placeholder="File"
          autocomplete="off"
          ng-model="$admin.file"
          file-change="$admin.getFile()"
        />
      </div>
      <img ng-src="{{ $admin.imageSrc }}" class="picto-image" />
      <div class="form-group">
        <label for="nameField">Nom</label>
        <input
          type="text"
          ng-model="$admin.name"
          class="form-control"
          id="nameField"
          placeholder="Nom"
        />
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
      <button class="btn btn-link" ng-click="$admin.addFormVisible = false">
        cancel
      </button>
    </form>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Search Results</div>
    <table class="table table-striped">
      <tr ng-repeat="picto in $admin.searchResult track by $index">
        <td>
          <img width="50" ng-src="{{ $admin.getPictoOrPlaceholder(picto) }}" />
        </td>
        <td>
          <a ng-click="picto.edit = true" ng-if="! picto.edit"
            >{{ picto.name }}</a
          >
          <div ng-if="picto.edit">
            <input ng-model="$admin.searchResult[$index].name" />
            <button
              class="btn btn-primary"
              ng-click="$admin.edit(picto, $index)"
            >
              Save
            </button>
          </div>
        </td>
        <td>{{ picto.filename }}</td>
        <td>
          <button
            type="button"
            name="delete"
            ng-click="$admin.delete(picto, $index)"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
