<div ng-controller="PictoBoardController as $picto" class="container">
  <div class="main-image">
    <div class="form-inline hidden-print">
      <input
        type="file"
        class="form-control"
        autocomplete="off"
        ng-model="$picto.file"
        file-change="$picto.getFile()"
      />
    </div>
    <img class="main-image-img" ng-src="{{ $picto.imageSrc }}" />
  </div>

  <ul class="list-inline picot-list">
    <li
      ng-repeat="picto in $picto.pictoList track by $index"
      class="picto-item"
    >
      <img
        ng-src="{{ $picto.getPictoOrPlaceholder(picto.image) }}"
        class="picto-image"
      />

      <input
        type="text"
        class="hidden-print"
        ng-model="$picto.pictoList[$index].image"
        typeahead-on-select="$picto.onSelectPicto($index, $item)"
        uib-typeahead="searchPic as searchPic.name for searchPic in $picto.getPicto($viewValue)"
        typeahead-loading="loadingPicto"
        typeahead-template-url="customTemplate.html"
        typeahead-show-hint="true"
        typeahead-min-length="1"
      />

      <input
        type="text"
        class="hidden-print"
        ng-model="$picto.pictoList[$index].title"
      />
      <div class="visible-print picto-title">
        {{ $picto.pictoList[$index].title || ' '}}
      </div>

      <div class="button-bar hidden-print">
        <button class="btn btn-default " ng-click="$picto.removePicto($index)">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <button class="btn btn-default" ng-show="loadingPicto">
          <i class="glyphicon glyphicon-refresh"></i>
        </button>
      </div>
    </li>
    <li class="picto-item item-add hidden-print">
      <button
        ng-click="$picto.addPicto()"
        class="btn btn-success btn-lg btn-block"
      >
        <i class="glyphicon glyphicon-plus"></i>
        Add
      </button>
    </li>
  </ul>
</div>
