<!DOCTYPE html>
<html ng-app="logoApp" lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PictoGo</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="vendor/angular-fontselect.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="font.css" type="text/css" />
    <link rel="stylesheet" href="main.css" type="text/css" />

    <script src="vendor/angular.min.js" type="text/javascript"></script>
    <script src="vendor/ui-bootstrap-tpls-2.1.4.min.js"></script>
    <script src="vendor/angular-fontselect.min.js"></script>
    <script src="vendor/webfontloader.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-database.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDu-ntlYLbUzOxljNrx90icvxayWyM9ty8",
        authDomain: "pictogo-149222.firebaseapp.com",
        databaseURL: "https://pictogo-149222.firebaseio.com",
        storageBucket: "pictogo-149222.appspot.com",
        messagingSenderId: "697085121191"
      };
      firebase.initializeApp(config);
    </script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <script src="filereader.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="MainController as $main">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="">PictoGo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ng-class="{'active': $main.visibleScreen == 'flash'}">
              <a href="" ng-click="$main.visibleScreen = 'flash'">Flash</a>
            </li>
            <li ng-class="{'active': $main.visibleScreen == 'board'}">
              <a href="" ng-click="$main.visibleScreen = 'board'"
                >Picto Board</a
              >
            </li>
            <li
              ng-class="{'active': $main.visibleScreen == 'admin'}"
              ng-if="$main.firebaseUser"
            >
              <a href="" ng-click="$main.visibleScreen = 'admin'"
                >Picto Admin</a
              >
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-if="$main.firebaseUser" uib-dropdown>
              <span uib-dropdown-toggle>
                <img
                  ng-src="{{$main.firebaseUser.photoURL}}"
                  class="user-image img-circle"
                />
                {{ $main.firebaseUser.displayName }}
              </span>
              <ul class="dropdown-menu" uib-dropdown-menu>
                <li>
                  <a href ng-click="$main.signOut()">
                    <i class="glyphicon glyphicon-log-out"></i>
                    Sign Out
                  </a>
                </li>
              </ul>
            </li>
            <li ng-if="! $main.firebaseUser">
              <a href="" ng-click="$main.signIn()">
                <i class="glyphicon glyphicon-log-in"></i>
                Sign In
              </a>
              <p ng-if="$main.error">
                Error: <strong>{{ $main.error }}</strong>
              </p>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <div
      ng-include="'flash.html'"
      ng-if="$main.visibleScreen == 'flash'"
      class="hidden-print page-flash"
    ></div>
    <div
      ng-include="'board.html'"
      ng-if="$main.visibleScreen == 'board'"
      class="page-board"
    ></div>
    <div
      ng-include="'admin.html'"
      ng-if="$main.visibleScreen == 'admin'"
      class="hidden-print page-admin"
    ></div>

    <script type="text/ng-template" id="customTemplate.html">
       <div>
       {{ match.label }}
       <img ng-src="http://picto-api.bmaron.net/static/{{ match.model.filename }}"
        style="width: 50px; height: 50px"
        ng-if="match.model.filename" />
      </div>
    </script>
  </body>
</html>
