@media print {
}

html,
body {
  height: 100%;
}
.nav .user-image {
  max-width: 50px;
}
.main-image {
  text-align: center;
}

.main-image-img {
  max-width: 500px;
  max-height: 500px;
}

.picot-list {
  margin-top: 20px;
  text-align: center;
}

.picto-item {
  border: 1px solid black;
  padding-top: 5px;
  margin-right: 5px;
}

.item-add {
  border: 0px; /* dashed gray;
  height: 150px;*/
}

.picto-image {
  width: 100px;
  height: 100px;
}

#flash-content:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
#flash-content {
  background-color: white;
  height: 100%;
}
.flash-between-propositions {
  width: 100%;
  height: 100%;
}
.flash-between-propositions > div {
  width: 100%;
}

.page-flash {
  height: 100%;
}
.flash-word,
.flash-between-propositions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.btn-stop {
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0.4;
}
.btn-stop:hover {
  opacity: 1;
}
